/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: Fira Sans;
  font-style: normal;
}
.nav {
  padding: 0.8%;
  background-color: #1f2a4c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media ( max-width: 500px ) {
  .nav {
    padding: 1.5%;
  }
}
.nav .logo {
  margin-left: 3%;
}
@media ( max-width: 500px ) {
  .nav .logo {
    margin-left: 5%;
  }
}
.nav img {
  width: 20%;
  margin-left: 28%;
  margin-bottom: 2%;
}
@media ( max-width: 500px ) {
  .nav img {
    width: 27%;
  }
}
.nav p {
  color: white;
  font-size: 0.8rem;
}
@media ( max-width: 500px ) {
  .nav p {
    font-size: 1rem;
  }
}
.nav i {
  color: white;
  font-size: 1.3rem;
}
.nav .navList {
  width: 30%;
}
.nav ul {
  display: flex;
  justify-content: space-between;
}
.nav ul a {
  text-decoration: none;
  color: white;
}
@media ( max-width: 500px ) {
  .nav ul a {
    display: none;
  }
}
.nav .miscNav {
  width: 10%;
  margin-left: 15%;
}
@media ( max-width: 500px ) {
  .nav .miscNav {
    display: none;
  }
}
.nav .miscNav i {
  border-left: 1px solid lightblue;
  padding-right: 20%;
  padding-left: 10%;
}
.nav .miscNav a {
  text-decoration: none;
  color: white;
}
.btn {
  font-weight: bold;
  margin-right: 5%;
  display: inline-block;
  background-color: #7faecc;
  cursor: pointer;
  width: 180px;
  height: 38px;
  font-size: 15px;
  border-radius: 10px;
  color: #1f2a4c;
  text-align: center;
  padding-top: 1%;
}
.btn:hover {
  background-color: #b6d1e2;
}
@media ( max-width: 500px ) {
  .btn {
    height: 35px;
    padding-top: 2.5%;
    width: 160px;
    border-radius: 5px;
  }
}
header {
  position: relative;
  text-align: center;
  color: white;
}
.mobileHero {
  display: none;
}
@media ( max-width: 500px ) {
  .mobileHero {
    display: block;
  }
}
.hero {
  width: 100%;
}
@media ( max-width: 500px ) {
  .hero {
    display: none;
  }
}
.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
  letter-spacing: 0.02rem;
}
.headerText h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1%;
}
@media ( max-width: 500px ) {
  .headerText h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 4%;
  }
}
.headerText p {
  width: 60%;
  margin-left: 20%;
  line-height: 1.5rem;
}
@media ( max-width: 500px ) {
  .headerText p {
    width: 80%;
    margin-left: 8%;
  }
}
.mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .mobile {
    display: flex;
    justify-content: space-between;
    background-color: #d8e7ed;
    padding: 2%;
  }
  .mobile img {
    opacity: 0;
    width: 6%;
    margin-left: 5%;
  }
  .mobile i {
    font-size: 1.5rem;
    margin-right: 6%;
    text-align: right;
  }
}
.main1 {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 0.03rem;
}
@media ( max-width: 500px ) {
  .main1 {
    flex-direction: column;
    margin-left: 6%;
  }
}
.main1 img {
  width: 35%;
  border-radius: 2.5%;
}
@media ( max-width: 500px ) {
  .main1 img {
    display: none;
    width: 100%;
    padding-bottom: 5%;
  }
}
.main1 div {
  width: 40.5%;
  margin-right: 10%;
}
@media ( max-width: 500px ) {
  .main1 div {
    width: 100%;
  }
}
.main1 h2 {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 3%;
  line-height: 2.5rem;
}
@media ( max-width: 500px ) {
  .main1 h2 {
    font-size: 1.5rem;
  }
}
.main1 p {
  line-height: 1.2rem;
}
@media ( max-width: 500px ) {
  .main1 p {
    width: 90%;
    text-align: center;
  }
}
.main1 .mobileFarmer {
  display: none;
}
@media ( max-width: 500px ) {
  .main1 .mobileFarmer {
    display: flex;
  }
}
.main2 {
  background-image: url("/images/accentBG.jpg");
  background-size: cover;
  padding: 2%;
}
@media ( max-width: 500px ) {
  .main2 {
    height: auto;
  }
}
.main2 .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media ( max-width: 500px ) {
  .main2 .container {
    display: flex;
    flex-direction: column;
  }
}
.main2 h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
  padding: 1.5%;
  padding-bottom: 3%;
}
@media ( max-width: 500px ) {
  .main2 h2 {
    padding: 5%;
  }
}
.box {
  background-color: #d8e7ed;
  width: 23%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: 55vh;
  margin-bottom: -1.5%;
  justify-content: space-evenly;
  text-align: left;
  border-radius: 1.5%;
}
@media ( max-width: 500px ) {
  .box {
    width: 95%;
    margin: 1%;
    margin-left: 2.5%;
    height: auto;
    padding: 20% 10%;
    margin-bottom: 8%;
  }
}
.box h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  .box h3 {
    padding: 5%;
    line-height: 2rem;
  }
}
.box img {
  width: 45%;
  margin-left: 26%;
  padding-bottom: 3%;
}
@media ( max-width: 500px ) {
  .box img {
    width: 40%;
    margin-top: -8%;
    margin-left: 30%;
    margin-bottom: 3%;
  }
}
@media ( max-width: 500px ) {
  .box p {
    line-height: 1.5rem;
    width: 85%;
    margin-left: 3%;
    padding: 2%;
  }
}
.review {
  padding: 9%;
}
@media ( max-width: 500px ) {
  .review {
    padding-top: 15%;
    padding-bottom: 15%;
    background: linear-gradient(135deg, white 20%, #f1f3f6 50%);
  }
}
.customerQuote {
  background-color: #f1f3f6;
  width: 90%;
  padding: 6%;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 4%;
  border-radius: 2.5%;
}
@media ( max-width: 500px ) {
  .customerQuote {
    width: 100%;
    margin-left: 0;
    border-radius: 10%;
    box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #ffffff, inset 4px 4px 20px rgba(255, 255, 255, 0.5);
  }
}
.customerQuote .reviewText {
  text-align: left;
  width: 40%;
  line-height: 1.4rem;
}
@media ( max-width: 500px ) {
  .customerQuote .reviewText {
    width: 66%;
    margin-left: 10%;
  }
}
.customerQuote .reviewText h3 {
  font-size: 2rem;
  padding-bottom: 4%;
}
@media ( max-width: 500px ) {
  .customerQuote .reviewText h3 {
    font-size: 1.5rem;
  }
}
.customerQuote i {
  color: #f46032;
  font-size: 5rem;
  margin-bottom: 16%;
  margin-right: 5%;
}
@media ( max-width: 500px ) {
  .customerQuote i {
    font-size: 2rem;
    margin-top: -8%;
    margin-left: 10%;
  }
}
.customerQuote .ci {
  width: 15%;
  border-radius: 50%;
  margin: 5%;
}
@media ( max-width: 500px ) {
  .customerQuote .ci {
    margin-left: -16%;
    margin-top: 15%;
  }
}
.footerPic {
  position: relative;
  text-align: center;
  color: white;
}
.hands {
  width: 100%;
}
@media ( max-width: 500px ) {
  .hands {
    display: none;
  }
}
.handsMobile {
  display: none;
}
@media ( max-width: 500px ) {
  .handsMobile {
    display: block;
  }
}
.handsText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
  letter-spacing: 0.02rem;
}
@media ( max-width: 500px ) {
  .handsText {
    width: 100%;
    padding-top: 8%;
  }
}
.handsText p {
  width: 60%;
  margin-left: 19%;
  line-height: 1.5rem;
  text-align: left;
}
@media ( max-width: 500px ) {
  .handsText p {
    width: 90%;
    margin-left: 5%;
    line-height: 1.8rem;
  }
}
.handsText h2 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1%;
}
@media ( max-width: 500px ) {
  .handsText h2 {
    width: 100%;
    font-size: 2rem;
    padding-bottom: 8%;
  }
}
.footerNav {
  width: 88%;
  display: flex;
  flex-direction: row;
}
@media ( max-width: 500px ) {
  .footerNav {
    width: 100%;
    margin-top: 6%;
    margin-bottom: 6%;
  }
}
.list {
  width: 26%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  line-height: 1.8rem;
}
@media ( max-width: 500px ) {
  .list {
    line-height: 1.6rem;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
  }
}
.list h2 {
  font-weight: bold;
  margin: 2%;
  font-size: 1.4rem;
  padding-bottom: 6%;
}
@media ( max-width: 500px ) {
  .list h2 {
    font-size: 1.2rem;
  }
}
.list a {
  text-decoration: none;
  color: grey;
  margin: 2%;
  font-size: 1rem;
}
@media ( max-width: 500px ) {
  .list a {
    text-align: left;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin-left: 8%;
}
.social .legal {
  width: 30%;
}
@media ( max-width: 500px ) {
  .social .legal {
    width: 50%;
  }
}
.social .legal a {
  text-decoration: none;
  color: grey;
  font-size: 0.9rem;
  padding-right: 3%;
}
@media ( max-width: 500px ) {
  .social .legal a {
    width: 50%;
    padding-right: 6%;
  }
}
.social .socialIcons {
  width: 20%;
}
@media ( max-width: 500px ) {
  .social .socialIcons {
    width: 30%;
  }
}
.social .socialIcons i {
  color: grey;
  padding-right: 3%;
}
@media ( max-width: 500px ) {
  .social .socialIcons i {
    padding-right: 10%;
    font-size: 1.5rem;
  }
}
Nav {
  display: none;
}
@media ( max-width: 500px ) {
  Nav {
    display: block;
    margin-top: 3%;
  }
}
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  margin-bottom: -10.5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
@media ( max-width: 500px ) {
  #menuToggle {
    margin-left: -4%;
  }
}
#menuToggle a {
  text-decoration: none;
  color: #1F2A4C;
  transition: color 0.3s ease;
}
#menuToggle a:hover {
  color: tomato;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #D8E7ED;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul {
  transform: none;
}
.music {
  margin: 2%;
  width: 70%;
  margin-left: 15%;
}
.aboutBody {
  background-image: url("/images/bgphoto.jfif");
  background-size: cover;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ffffff, rgba(0, 0, 0, 0));
}
.aboutheader {
  padding: 2% 3%;
}
.aboutheader h1 {
  font-size: 3.5rem;
  padding: 1%;
  text-align: center;
  background: url(https://envato-shoebox-0.imgix.net/e8f7/1d92-d7da-4837-b17a-a503d3d5fc70/IMG_3208.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=40cd2c63cf4b2648053b5d271c52f174) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.aboutheader h2 {
  font-size: 2.5rem;
  padding: 1.5%;
  text-align: center;
  background: url(https://envato-shoebox-0.imgix.net/e8f7/1d92-d7da-4837-b17a-a503d3d5fc70/IMG_3208.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=40cd2c63cf4b2648053b5d271c52f174) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.aboutheader p {
  color: white;
  font-size: 1.8rem;
  padding: 1.2%;
  width: 80%;
  text-align: center;
  padding-left: 20%;
  line-height: 2.5rem;
}
.aboutBtn {
  margin-top: 2%;
  margin-bottom: 3%;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 120px;
  height: 120px;
  line-height: 98px;
  border-radius: 50%;
  border: double 4px white;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.6s;
}
.aboutBtn:hover {
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.Mission {
  width: 90%;
  text-align: center;
  margin-top: -2%;
  margin-left: 4%;
}
.Mission h2 {
  font-size: 2.5rem;
  padding: 1.5%;
  text-align: center;
  background: url(https://envato-shoebox-0.imgix.net/e8f7/1d92-d7da-4837-b17a-a503d3d5fc70/IMG_3208.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=40cd2c63cf4b2648053b5d271c52f174) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.Mission p {
  color: white;
  font-size: 1.8rem;
  padding: 1.5%;
  width: 80%;
  text-align: center;
  padding-left: 22%;
  line-height: 2.5rem;
}
.Mission a {
  padding: 1%;
}
.knockout {
  background: url(https://envato-shoebox-0.imgix.net/e8f7/1d92-d7da-4837-b17a-a503d3d5fc70/IMG_3208.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=40cd2c63cf4b2648053b5d271c52f174) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}
.MeetUs {
  width: 100%;
}
.MeetUs img {
  width: 80%;
  margin-bottom: 4%;
  margin-top: 10%;
}
.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.images div {
  width: 35%;
  border: 2px white solid;
  padding: 2%;
  margin-right: -20%;
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.3);
}
.images div h3 {
  font-size: 2rem;
  color: white;
}
.images div p {
  color: white;
  padding: 2%;
}
.LearnMore {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LearnMore h2 {
  font-size: 2.5rem;
  margin: 2%;
  background: url(https://envato-shoebox-0.imgix.net/e8f7/1d92-d7da-4837-b17a-a503d3d5fc70/IMG_3208.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=40cd2c63cf4b2648053b5d271c52f174) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
.LearnMore p {
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}
.glow-on-hover {
  margin: 3%;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  padding-top: 1%;
  background: rgba(17, 17, 17, 0);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
