.aboutBody {
	background-image: url("/images/bgphoto.jfif");
	background-size: cover;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgb(255, 255, 255),
		rgba(0, 0, 0, 0)
	);
}

.aboutheader {
	// background: #133dce;
	// background: -moz-linear-gradient(top, #133dce 0%, #1c6ea4 50%, #ffffff 100%);
	// background: -webkit-linear-gradient(top,#133dce 0%,#1c6ea4 50%,#ffffff 100%);
	// background: linear-gradient(to bottom, #0f4c75 0%, #3282b8 0%, #ffffff 80%);
	padding: 2% 3%;

	h1 {
		color: white;
		font-size: 3rem;
		padding: 1%;
		// -webkit-text-stroke: 1px #0f4c75;
		text-align: center;
	}
	h2 {
		font-size: 2.5rem;
		padding: 1.5%;
		text-align: center;
		// -webkit-text-stroke: 1px #00ccff;
	}

	p {
		color: white;
		font-size: 1.8rem;
		padding: 1.5%;
		width: 80%;
		text-align: center;
		padding-left: 20%;
	}
}
.aboutBtn{
margin-top: 2%;
margin-bottom:3%;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size:20px;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 50%;
  border: double 4px white;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
}

.aboutBtn:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.Mission {
	width: 90%;
	text-align: center;
	margin-top: -2%;
	margin-left: 4%;

	h2 {
		color: white;
		font-size: 2.5rem;
		padding: 1.5%;
		text-align: center;
		// -webkit-text-stroke: 1px #0f4c75;
	}

	p {
		color: white;
		font-size: 1.8rem;
		padding: 1.5%;
		width: 80%;
		text-align: center;
		padding-left: 22%;
	}

	a {
		padding: 1%;
	}
}
.knockout {
	background: url(https://envato-shoebox-0.imgix.net/e8f7/1d92-d7da-4837-b17a-a503d3d5fc70/IMG_3208.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1000&s=40cd2c63cf4b2648053b5d271c52f174) -80px -80px;
	color: red;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
	font-size: 100px;
	font-family: arial, helvetica;
	width: 600px;
	margin: 50px auto;
	text-align: center;
}
.MeetUs {
	width: 100%;

	h2 {
		font-size: 2rem;
		color: navy;
		font-weight: bold;
	}
	img {
		width: 40%;
	}
}
.images {
	display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 50%;
}
.LearnMore {
	// background: linear-gradient(to top, #0f4c75 0%, #3282b8 0%, #ffffff 100%);
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h2 {
		font-size: 2rem;
		margin: 2%;
	}
	a {
		text-decoration: none;
		color: white;
		margin: 2%;
	}
}
