img {
	max-width: 100%;
}
body {
	font-family: Fira Sans;
	font-style: normal;
}
.nav {
	padding: 0.8%;
	background-color: #1f2a4c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media @phone {
		padding: 1.5%;
	}
	.logo {
		margin-left: 3%;
		@media @phone {
			margin-left: 5%;
		}
	}
	img {
		width: 20%;
		margin-left: 28%;
		margin-bottom: 2%;
		@media @phone {
			width: 27%;
		}
	}
	p {
		color: white;
		font-size: 0.8rem;
		@media @phone {
			font-size: 1rem;
		}
	}
	i {
		color: white;
		font-size: 1.3rem;
	}
	.navList {
		width: 30%;
	}
	ul {
		display: flex;
		justify-content: space-between;
		a {
			text-decoration: none;
			color: white;
			@media @phone {
				display: none;
			}
		}
	}
	.miscNav {
		width: 10%;
		margin-left: 15%;
		@media @phone {
			display: none;
		}
		i {
			border-left: 1px solid lightblue;
			padding-right: 20%;
			padding-left: 10%;
		}
		a {
			text-decoration: none;
			color: white;
		}
	}
}
.btn {
	font-weight: bold;
	margin-right: 5%;
	.button(#7faecc, 180px, #1f2a4c);
	@media @phone {
		height: 35px;
		padding-top: 2.5%;
		width: 160px;
		border-radius: 5px;
	}
}
header {
	position: relative;
	text-align: center;
	color: white;
}
.mobileHero {
	display: none;
	@media @phone {
		display: block;
	}
}
.hero {
	width: 100%;
	@media @phone {
		display: none;
	}
}
.headerText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 85%;
	letter-spacing: 0.02rem;
	// text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

	h1 {
		color: white;
		font-size: 3rem;
		font-weight: bold;
		padding-bottom: 1%;
		@media @phone {
			font-size: 2rem;
			line-height: 2rem;
			padding-bottom: 4%;
		}
	}

	p {
		width: 60%;
		margin-left: 20%;
		line-height: 1.5rem;
		@media @phone {
			width: 80%;
			margin-left: 8%;
		}
	}
}

.mobile {
	display: none;
	@media @phone {
		display: flex;
		justify-content: space-between;
		background-color: #d8e7ed;
		padding: 2%;
		img {
			opacity:0;
			width: 6%;
			margin-left: 5%;
		}
		i {
			font-size: 1.5rem;
			margin-right: 6%;
			text-align: right;
		}
	}
}

.main1 {
	padding: 10%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	letter-spacing: 0.03rem;
	@media @phone {
		flex-direction: column;
		margin-left: 6%;
	}

	img {
		width: 35%;
		border-radius: 2.5%;
		@media @phone {
			display: none;
			width: 100%;
			padding-bottom: 5%;
		}
	}

	div {
		width: 40.5%;
		margin-right: 10%;
		@media @phone {
			width: 100%;
		}
	}

	h2 {
		color: black;
		font-size: 2rem;
		font-weight: bold;
		padding-bottom: 3%;
		line-height: 2.5rem;
		@media @phone {
			font-size: 1.5rem;
		}
	}

	p {
		line-height: 1.2rem;
		@media @phone {
			width: 90%;
			text-align: center;
		}
	}
	.mobileFarmer {
		display: none;
		@media @phone {
			display: flex;
		}
	}
}
.main2 {
	background-image: url("/images/accentBG.jpg");
	background-size: cover;
	// background: linear-gradient(135deg, #1f2a4c 0%, #f1f3f6 100%);
	padding: 2%;
	@media @phone {
		height: auto;
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media @phone {
			display: flex;
			flex-direction: column;
		}
	}
	h2 {
		color: white;
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 0.03rem;
		padding: 1.5%;
		padding-bottom: 3%;
		@media @phone {
			padding: 5%;
		}
	}
}
.box {
	background-color: #d8e7ed;
	width: 23%;
	display: flex;
	flex-direction: column;
	padding: 2%;
	height: 55vh;
	margin-bottom: -1.5%;
	justify-content: space-evenly;
	text-align: left;
	border-radius: 1.5%;
	@media @phone {
		width: 95%;
		margin: 1%;
		margin-left: 2.5%;
		height: auto;
		padding: 20% 10%;
		margin-bottom: 8%;
	}
	h3 {
		font-size: 1.3rem;
		font-weight: bold;
		@media @phone {
			padding: 5%;
			line-height: 2rem;
		}
	}
	img {
		width: 45%;
		margin-left: 26%;
		padding-bottom: 3%;
		@media @phone {
			width: 40%;
			margin-top: -8%;
			margin-left: 30%;
			margin-bottom: 3%;
		}
	}
	p {
		@media @phone {
			line-height: 1.5rem;
			width: 85%;
			margin-left: 3%;
			padding: 2%;
		}
	}
	// i {
	// 	font-size: 3.5rem;
	// 	text-shadow: 0px 0px 8px black;
	// 	color: white;
	// 	text-align: center;
	// }
}
.review {
	padding: 9%;
	@media @phone {
		padding-top: 15%;
		padding-bottom: 15%;
		background: linear-gradient(135deg, white 20%, #f1f3f6 50%);
	}
}
.customerQuote {
	background-color: #f1f3f6;
	width: 90%;
	padding: 6%;
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: 4%;
	border-radius: 2.5%;
	@media @phone {
		width: 100%;
		margin-left: 0;
		border-radius: 10%;
		box-shadow: 30px 30px 80px rgba(55, 84, 170, 0.1), -30px -30px 80px #ffffff,
			inset 4px 4px 20px rgba(255, 255, 255, 0.5);
	}
	.reviewText {
		text-align: left;
		width: 40%;
		line-height: 1.4rem;
		@media @phone {
			width: 66%;
			margin-left: 10%;
		}

		h3 {
			font-size: 2rem;
			padding-bottom: 4%;
			@media @phone {
				font-size: 1.5rem;
			}
		}
	}
	i {
		color: #f46032;
		font-size: 5rem;
		margin-bottom: 16%;
		margin-right: 5%;
		@media @phone {
			font-size: 2rem;
			margin-top: -8%;
			margin-left: 10%;
		}
	}
	.ci {
		width: 15%;
		border-radius: 50%;
		margin: 5%;
		@media @phone {
			margin-left: -16%;
			margin-top: 15%;
		}
	}
}
// .forphone {
// display:none;
// 	@media @phone {
// 	display: flex;
// 	flex-direction: column;
// 	i {
// 		font-size: 2rem;
// 	}
// 	}
// }
// .ci {
// 	@media @phone{
// 		width:20%;
// 	}
// }
.footerPic {
	position: relative;
	text-align: center;
	color: white;
}

.hands {
	width: 100%;
	@media @phone {
		display: none;
	}
}
.handsMobile {
	display: none;
	@media @phone {
		display: block;
	}
}
.handsText {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 85%;
	letter-spacing: 0.02rem;
	@media @phone {
		width: 100%;
		padding-top: 8%;
	}

	p {
		width: 60%;
		margin-left: 19%;
		line-height: 1.5rem;
		text-align: left;
		@media @phone {
			width: 90%;
			margin-left: 5%;
			line-height: 1.8rem;
		}
	}
	h2 {
		color: white;
		font-size: 3rem;
		font-weight: bold;
		padding-bottom: 1%;
		@media @phone {
			width: 100%;
			font-size: 2rem;
			padding-bottom: 8%;
		}
	}
}

.footerNav {
	width: 88%;
	display: flex;
	flex-direction: row;
	@media @phone {
		width: 100%;
		margin-top: 6%;
		margin-bottom: 6%;
	}
}
.list {
	width: 26%;
	padding: 5%;
	display: flex;
	flex-direction: column;
	margin-left: 6%;
	line-height: 1.8rem;
	@media @phone {
		line-height: 1.6rem;
		padding: 0;
		padding-top: 5%;
		padding-bottom: 5%;
		width: 100%;
	}
	h2 {
		font-weight: bold;
		margin: 2%;
		font-size: 1.4rem;
		padding-bottom: 6%;
		@media @phone {
			font-size: 1.2rem;
		}
	}
	a {
		text-decoration: none;
		color: grey;
		margin: 2%;
		font-size: 1rem;
		@media @phone {
			text-align: left;
			font-size: 0.8rem;
			margin: 0;
			padding: 0;
		}
	}
}
.social {
	display: flex;
	justify-content: space-between;
	padding: 1%;
	margin-left: 8%;

	.legal {
		width: 30%;
		@media @phone {
			width: 50%;
		}
		a {
			text-decoration: none;
			color: grey;
			font-size: 0.9rem;
			padding-right: 3%;
			@media @phone {
				width: 50%;
				padding-right: 6%;
			}
		}
	}
	.socialIcons {
		width: 20%;
		@media @phone {
			width: 30%;
		}

		i {
			color: grey;
			padding-right: 3%;
			@media @phone {
				padding-right: 10%;
				font-size: 1.5rem;
			}
		}
	}
}

// Hamburer Menu - I take no credit

Nav{ display:none;
	@media @phone{
		display:block;
		margin-top:3%;
	}
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  margin-bottom:-10.5%;
  @media @phone{margin-left:-4%;}
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #1F2A4C;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
 
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: black;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #D8E7ED;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
 
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}